html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#login {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#login.fade-out {
  opacity: 0;
}

#game-container {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

canvas {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.score-container {
  position: fixed;
  left: 8px;
  bottom: 8px;
  color: rgb(255, 255, 255);

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
  line-height: 150%;
}

.score-container p {
  margin: 0;
}
